body{
  display: flex;
  justify-content: center;
}
.loader div {
  position: absolute;
  width: 30px;
}
.loader div:nth-child(1) {
  left: 37px;
  background: #54ec04;
  animation: loader-1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.5s;
}
.loader div:nth-child(2) {
  left: 87px;
  background: #f07a00;
  animation: loader-2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  left: 137px;
  background: #2c05ec;
  animation: loader-3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.1s;
}

.loading {
  width: 200px;
  height: 200px;
  background-color: red;
  align-items: center;
  justify-content: center;
  display: inline-block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
}
.loader {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.loader div {
  box-sizing: content-box;
}
@keyframes loader-1 {
  0% {
    top: 73.4px;
    height: 53.199999999999996px;
  }
  50% {
    top: 86px;
    height: 28px;
  }
  100% {
    top: 86px;
    height: 28px;
  }
}
@keyframes loader-2 {
  0% {
    top: 76.55000000000001px;
    height: 46.89999999999999px;
  }
  50% {
    top: 86px;
    height: 28px;
  }
  100% {
    top: 86px;
    height: 28px;
  }
}
@keyframes loader-3 {
  0% {
    top: 79.7px;
    height: 40.6px;
  }
  50% {
    top: 86px;
    height: 28px;
  }
  100% {
    top: 86px;
    height: 28px;
  }
}

.side{
  height: 173px;
  width: 40px;
  background-color:red;
  right: 0;
  position: fixed;
  top: 60%;
  transform: translate(0px,-50%);
}


.p-floating-container {
  position: absolute;
}

.p-floating-container label {
  /* Position the label */
  left: 8px;
  position: absolute;
  top: 0;

  /* Hide it by default */
  opacity: 0;
  transition: 'all 200ms',
}

/* Show the label at desired position when the placeholder of input isn't shown */
.p-floating-container input:not(:placeholder-shown) + label {
  background: #FFF;
  transform: translate(0, -50%);
  opacity: 1;
  
}
input{
  padding: 6px;
  border-radius: 4px;
  cursor: text;
}
pos{
  position: relative;
  display: flex;
}