/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
    font-size: -webkit-xxx-large;    
}
.card{
    width: 90%;
    height: 50%;
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px; 
    justify-content: space-around;
}
.card1{
    margin-top: 20px;
    
    background-color:gainsboro;
    /* align-items: center; */
}
.card2{
    margin-top: 20px;
    /* margin-left: 15px;
    margin-right: 15px; */
    background-color:gainsboro;
}
.card3{
    margin-top: 20px;
    background-color:gainsboro;
}
.card1,.card2,.card3{
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    flex-direction: column;
    
}
.person{
    display: flex;
    width: 200px;
    height: 200px;
    background-color:white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition-duration: 2s;
    /* box-shadow: black; */
    /* border: 4px solid black; */
}
.end{
    display: flex;
    margin-top: 40px;
    flex-direction:column;
    justify-content: center; 
    transform-origin: bottom;
}
button{
    box-sizing: border-box;
    height: 40px;
    padding: 4px;
    /* border-radius: 4px; */
    border-color: black;
    background-color: blueviolet;
    color: white;
    transition-duration: 1.5s;
}
button:hover{
    background-color: white;
    color: black;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    cursor: pointer;
}
.social{
    width: 65%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
i{
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    color: blue;
}
i:hover{
    cursor: pointer;
    color: turquoise;
}
