body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav{
    width: 80%;
    height: 80px;
    display: flex;
}
.right{
    width: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
}
.left{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}
li{
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    color: black;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}
/* left-right border */
.left-right:hover{
    color: blue;
    border-right: 4px solid blue;
    border-left: 4px solid blue;
    border-radius: 10px;
}
/* top-bottom border */
.top-bottom:hover{
    color: blue;
    border-top: 4px solid blue;
    border-bottom: 4px solid blue;
    border-radius: 10px;
}
/* top border */
.top:hover{
    color: blue;
    border-top: 4px solid blue;
    border-radius: 10px;
}
/* bottom border */
.bottom:hover{
    color: blue;
    border-bottom: 4px solid blue;
    border-radius: 10px;
}
